{% extends 'base.html' %}
{% load static %}

{% block title %}{{ data.category.title }}{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'category.css' %}">
    <h2> Категория: {{ data.category.title }} </h2>
    {% for item in data.items %}
        <div class="ct">
            <p><strong>Наименование товара:</strong> {{ item.name }}</p>
            <p><b>Описание товара:</b> {{ item.description }}</p>
            <p><strong>Цена товара:</strong> {{ item.price }} рублей</p>
            <p><strong>Производитель:</strong> {{ item.manufacturer }}</p>
            <img src="/static/images/{{ item.id_item }}.jpg" width="13%" height="20%">
        </div>
    {% empty %}
        <li>Список категорий пуст</li>
    {% endfor %}
{% endblock %}